* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F9F9F9; }

.row {
  width: 100%;
  height: auto; }

.row::after {
  clear: both;
  display: block;
  content: ""; }

.col {
  float: left; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

.horiTOQ {
  width: auto;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.TOQLogo {
  width: auto;
  height: 145px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.cartIcon, .bellIcon {
  width: auto;
  height: 40px; }

.bellIconMob, .cartIconMob {
  width: auto;
  height: 30px;
  padding: 0 10px; }

.food_image {
  width: 100%;
  height: auto; }

.allergen_key {
  width: auto;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.diet_logo {
  width: auto;
  height: 25px; }

.allergenTab {
  display: none; }

.allergenMob {
  display: none; }

.bannerDiv {
  background: #ED1C24;
  width: 100%;
  height: 165px;
  position: relative; }

.allergenDiv {
  position: relative;
  height: 173px;
  margin-top: 40px; }

.top_nav {
  background: #253F8E;
  width: 100%;
  height: 105px;
  font-family: 'brandon-grotesque', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  color: white; }

.top_nav_list {
  margin-top: 35px;
  list-style: none;
  text-align: center;
  display: inline-block;
  margin-left: 40px; }

.top_nav a:hover {
  color: #ED1C24; }

.top_nav_list:nth-child(5) {
  margin-top: 17.5px;
  padding: 0; }

.top_nav_list:nth-child(6) {
  margin-top: 17.5px;
  padding: 0; }

.footer_div {
  background: #253F8E;
  width: 100%;
  height: 100px;
  position: relative; }

.fa-arrow-alt-circle-up {
  color: #F9F9F9;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  font-size: 50px; }

.footer_header {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F9F9F9;
  text-align: center;
  padding-top: 10px; }

.review_order_button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "brandon-grotesque", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #253F8E;
  color: #F9F9F9;
  display: inline-block;
  border: none;
  padding: 12px 28px; }

.button_div {
  position: relative;
  height: 200px; }

@media screen and (min-width: 760px) {
  .TOQLogo {
    display: none; }

  .allergenMob {
    display: none; }

  .allergenTab {
    position: relative;
    height: 160px; }

  .food_item {
    padding: 30px; }

  .food_price {
    text-align: right;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #253F8E; }

  .food_menu_name {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #ED1C24;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 20px 0; }

  .food_category {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #ED1C24;
    text-transform: uppercase;
    text-align: left; }

  .food_name {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ED1C24; }

  .line {
    border: 1px solid #253F8E;
    width: 100%;
    margin: auto; }

  .line2 {
    border: 1px solid #253F8E;
    width: 93%;
    margin: auto; }

  .food_description {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #253F8E;
    text-align: left;
    margin-top: 5px; }

  .menu_header {
    margin-left: 3.5%;
    margin-bottom: 5px; }

  .food_details {
    margin: 10px 0; }

  .burger_menu {
    display: none; }

  .cartIconMob, .bellIconMob {
    display: none; } }
@media screen and (min-width: 320px) and (max-width: 426px) {
  .col-4 {
    width: 100%; }

  .col-12 {
    width: 100%; }

  body {
    width: 100vw; }

  .bannerDiv {
    background: #ED1C24;
    width: 100%;
    height: 165px;
    position: relative; }

  .horiTOQ {
    display: none; }

  .top_nav {
    display: none; }

  .top_nav.active {
    background: #253F8E;
    width: 100%;
    height: 300px;
    font-family: 'brandon-grotesque', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: white;
    display: block; }

  .top_nav_container {
    width: 100%;
    height: 300px;
    background-color: #253F8E; }

  .top_nav_list {
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px; }

  .allergenTab {
    display: none; }

  .food_item {
    padding: 40px; }

  .food_price {
    text-align: right;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #253F8E; }

  .food_menu_name {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #ED1C24;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 20px 0; }

  .food_category {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #ED1C24;
    text-transform: uppercase;
    text-align: center; }

  .food_name {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ED1C24; }

  .line {
    border: 1px solid #253F8E;
    width: 100%;
    margin: auto; }

  .line2 {
    border: 1px solid #253F8E;
    width: 93%;
    margin: auto; }

  .food_description {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #253F8E;
    text-align: left;
    margin-top: 5px; }

  .menu_header {
    margin-left: 3.5%;
    margin-bottom: 5px; }

  .food_details {
    margin: 10px 0; }

  .review_order_button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "brandon-grotesque", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #253F8E;
    color: #F9F9F9;
    display: inline-block;
    border: none;
    padding: 12px 28px; }

  .button_div {
    position: relative;
    height: 200px; }

  .mobile_nav {
    width: 100%;
    height: 50px;
    background-color: #253F8E; }

  .mobile_nav::after {
    clear: both;
    content: "";
    display: block; }

  .burger_menu {
    display: inline-block;
    padding: 10px;
    float: left; }

  .line3 {
    background-color: #F9F9F9;
    width: 20px;
    height: 3px;
    margin: 5px; }

  .bellIcon, .cartIcon {
    display: none; }

  .bannerIconsMob {
    width: 40%;
    padding: 10px 10px;
    padding-left: 50px;
    float: right; } }

/*# sourceMappingURL=style.css.map */
