@import 'mixins';

//--------------------------------------------------------------

.horiTOQ{
  @include w-h(auto, 90px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.TOQLogo{
  @include w-h(auto,145px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.cartIcon, .bellIcon{
  @include w-h(auto, 40px);
  // margin-left: 50%;
}

.bellIconMob, .cartIconMob{
  @include w-h(auto, 30px);
  padding: 0 10px;
}


.food_image{
  @include w-h(100%, auto);
}

.allergen_key{
  @include w-h(auto, 120px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.diet_logo{
  @include w-h(auto, 25px);
}
