.add_item_display{
  background-color: rgba(37, 63, 124, 0.3);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.white_box{
  position: absolute;
  width: 70%;
  height: 80%;
  background-color: $background;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close_white_box{
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}

.fa-times{
  color: $secondary;
  font-size: 40px;
}

.food_item_added{
  width: 40%;
  height: 40%;
  margin: 10% 30% 25% 30%;
}

.special_instructions{
  width: 70%;
  height: 20%;
  margin-top: 15%;
  margin-left: 15%;
}

.instructions_header{
  @include font_formatting($bodycopy, 20px, bold, $primary);
  margin-bottom: 5px;
}

.instructions_text{
  height: 70%;
  width: 100%;
  color: $secondary;
  background-color: #D3D3D3;
  border: none;
  outline: none;
  padding: 10px;
  resize: none;
}

.item_footer{
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: $secondary;
}

.fa-minus-circle, .fa-plus-circle{
  font-size: 40px;
  line-height: 50px;
  color: $background;
}

.order_add{
  width: 50%;
  height: 40px;
  margin: 25px;
  background-color: $background;
  float: right;
}

.add_order_text{
  @include font_formatting($bodycopy, 30px, bold, $primary);
  text-align: center;
  line-height: 40px;
}

.amount_number{
  @include font_formatting($bodycopy, 30px, bold, $background);
}

.plus_minus_container{
  width: 30%;
  height: 90px;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: left;
}
